################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Task13.6.1.dir/.idea
/.vs/Task13.6.1/FileContentIndex
/bin/Debug/net7.0
/obj
/.vs
